.front-card {
    margin-top: 70px;
}

.container {
    background-image: url(/public/images/background_1.png);
    background-size: cover;
    
  }

  form {
    margin-top: 50px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }

  
